/* big section titles */
h2 {
  font-size: 40px;
}

/* most examples (such as images) - left aligned */
.pretty {
  padding: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #AAA;
  border-radius: 5px;
}

/* examples which need not align to the left */
.pretty.non-aligned {
  margin: 10px;
}

/* wraps all content */
#container {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
}

/* wraps calendar and annotation */
#introduction {
  margin-bottom: 20px;
}

/* give header octicon an interesting purple colour */
h1 .octicon {
  fill: #4d02b5;
}

/* prevent ugly underlining */
#octicon-profile-link {
  text-decoration: none;
}

/* small calendar with ample space */
#contributions_calendar {
  width: 500px;
  margin-top: 30px;
  margin-bottom: 10px;
}

/* TODO temporarily make all pretty images uniformly smaller */
img.pretty {
  width: 500px;
}

/* test associated with an example above */
.annotation {
  display: inline-block;
  margin-bottom: 30px;
  font-style: italic;
}

/* wrap text to make the annotation narrow */
.annotation.narrow {
  width: 700px;
}

/* wrap text to make the annotation really narrow */
.annotation.really-narrow {
  width: 500px;
}
